<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <a href="/create">create book</a>
    <h1>Book List</h1>
    <ul>
    {% for book in my_books %}
        <li>
            <strong>{{ book.title }}</strong> by {{ book.author }}<br>
            Year: {{ book.year }}<br>
            Genre: {{ book.genre }}<br>
            Pages: {{ book.pages }}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
